:root{
  /* some of these variables dont do anything at all as of yet and some are only partially implemented.
     please remember this project is still early in development */
  
/* general settings */
/* color settings */
  --primary-color: #e00 !important;
  --secondary-color: #400;
  --app-background-color: #111;
  --item-padding: 8px;
  --item-margin: 0px;
  --item-background-color: none;
  --item-background-color-hover: #222;
  --item-border: none;
  --item-border-hover: none;
/* layout settings */
  --roundedness: 16px;
  --button-roundedness: 8px; /* recommended range: 0px - 20px */
  --borders-widths: 12px;
  --space-below-main-player: 32px;
  --spacings-gaps: 4px;
/* text settings */
  --text-primary: #aaaaaa;
  --text-primary-hover: #ffffff;
  --text-secondary: #666666;
  --text-secondary-hover: #888888;
/* animation settings */
  --trans-time-short: 0.1s; /* recommended range: 0.02s - 0.2s */
  --trans-time-medium: 0.3s;
  --trans-time-long: 0.5s;

/* advanced settings */
/* header settings */
  --header-primary-color: 20, 20, 20;
  --header-secondary-color: #8800ff;
/* comment section settings */
  --comments-spacing: 4px;
  --comments-padding: 16px;
  --comments-margin: 0px;
  --comments-background-color: var(--item-background-color);
  --comments-background-color-hover: var(--item-background-color-hover);
  --comments-border: var(--item-border);
  --comments-border-hover: var(--item-border-hover);
/* related videos section settings */
  --related-video-spacing: 4px;
  --related-video-padding: 2px;
  --related-video-margin: 0px;
  --related-video-background-color: none;
  --related-video-background-color-hover: var(--item-background-color-hover);
  --related-video-border: var(--item-border);
  --related-video-border-hover: var(--item-border-hover);
  
/* not settings do not change these */
  --scroll: 0px;
  --trans-type-slick: cubic-bezier(0.8,0,0.5,1);
  --trans-type-slick-reverse: cubic-bezier(.5,0,.2,1);
  --trans-type-smooth-end: cubic-bezier(.5,1,.5,1);
}

/* app */
ytd-app{background: var(--app-background-color) !important;}
#columns {box-sizing: border-box; margin: 0 !important; width: 100%; max-width: 100% !important; padding: var(--borders-widths);}
#columns > #primary {min-width: 0 !important; max-width: 100% !important; margin: 0; padding: var(--borders-widths);}
#columns > #primary > #primary-inner{height: 100%;}
#columns > #secondary {min-width: 450px; width: 30vw; max-width: 550px; padding: var(--borders-widths);}

#page-manager{margin-top: 0 !important;}

/* header */
#masthead-container{
position: sticky !important;
backdrop-filter: blur(32px);
background: linear-gradient(0deg,
  rgba(var(--header-primary-color), 0.8),
  rgba(var(--header-primary-color), 0.6) 40%,
  rgba(var(--header-primary-color), 0.6) 60%,
  rgba(var(--header-primary-color), 0.8));
border-bottom: 2px solid #222;}
#masthead-container #background{display: none}


/* player page */
/* - main player */
ytd-watch-flexy[rounded-player-large][default-layout] #ytd-player.ytd-watch-flexy {border-radius: 0px;}
ytd-watch-flexy[fullscreen] { position: fixed !important; top: 0px;}
ytd-watch-flexy[fullscreen] video{max-height: 100vh !important; height: 100vh !important; max-width: 100vw !important; width: 100vw !important;}
ytd-watch-flexy[fullscreen] > #columns{display: none !important;}
ytd-watch-flexy[fullscreen] #movie_player{border-radius: 0px; border: none;}

/*
body.efyt-mini-player #container > #movie_player:not(.ytp-fullscreen) {border-radius: var(--roundedness) !important; top: 60px !important; height: auto !important; width: 100% !important; box-sizing: border-box; padding: 0%; position: sticky !important;}
*/
#full-bleed-container{position: sticky !important; top: 60px; z-index: 10000; height: fit-content !important; min-height: 0 !important; background: none !important;}
#full-bleed-container > #player-full-bleed-container{height: fit-content;}
#full-bleed-container > #player-full-bleed-container > #player-container{height: fit-content; position: static;}

#primary #player{position: sticky; top: 60px; z-index: 10000;}
#primary #player-container-outer{max-width: none !important; min-width: 0 !important;}
#primary #player-container-inner{padding: 0; height: auto;}
#primary #player-container{position: static; height: auto;}


ytd-player{height: auto;}

ytd-player > #container{display: flex !important; height: auto !important;}

#movie_player {height: auto !important; border-radius: var(--roundedness); border: 2px solid #222; position: sticky !important; background: transparent !important;}

#movie_player > .html5-video-container{ width: 100%; height: auto;}
#movie_player.unstarted-mode > .html5-video-container{opacity: 0;}

ytd-player video{transition: max-height 0.5s; object-fit: contain !important; min-height: 25vh; height: 100% !important; width: 100% !important; max-width: 100% !important; max-height: calc(80vh - calc(var(--scroll) * 2)) !important; position: static !important; margin: 0 auto;
backdrop-filter: blur(4px);
background: linear-gradient(90deg,
  rgba(var(--header-primary-color), 0.2),
  rgba(0, 0, 0, 1) 25%,
  rgba(0, 0, 0, 1) 75%,
  rgba(var(--header-primary-color), 0.2));}

#player-container[style = 'touch-action: unset;'] video{max-height: 200px !important;}


/* - Comments section */
ytd-comments > ytd-item-section-renderer > #contents > * 
{ transition: var(--trans-time-short);
  margin: var(--comments-margin);
  margin-top: var(--comments-spacing);
  padding: var(--comments-padding);
  border: var(--comments-border);
  border-radius: var(--roundedness);
  background-color: var(--comments-background-color);}

ytd-comments > ytd-item-section-renderer > #contents > *:hover
{ transition: var(--trans-time-medium) var(--trans-type-smooth-end);
  border: var(--comments-border-hover);
  background-color: var(--comments-background-color-hover);}
  
ytd-comment-thread-renderer > #comment > #body > #action-menu
{ transition: var(--trans-time-short);
  opacity: 0;
  width: 20px;
  margin: 0 0 0 20px;}
  
ytd-comment-thread-renderer:hover #comment #body > #action-menu
{ transition: var(--trans-time-medium);
  opacity: 1;}

#paid-comment-background{background-color: transparent !important;}


/* - secondary column */
ytd-watch-flexy[flexy] #secondary.ytd-watch-flexy{ padding-right: 0px;}
/* -- related buttons */
#chips{display: flex !important; flex-wrap: wrap; margin: 0;}
yt-related-chip-cloud-renderer > #content #container > #right-arrow{display: none;}
#chips > *{flex-grow: 1; margin: 4px;}
#chips > * > *{padding: 4px 12px; width:100%; justify-content: center; border-radius: var(--button-roundedness);}

/* -- item section */
#items > ytd-item-section-renderer > #contents{box-sizing: border-box; margin-top: 20px;}

#items > ytd-item-section-renderer > #contents > * 
{ background-color: var(--related-video-background-color);
  border: var(--related-video-border);
  padding: var(--related-video-padding);
  border-radius: var(--roundedness);
  margin: var(--related-video-margin);
  margin-bottom: var(--related-video-spacing);}

#items > ytd-item-section-renderer > #contents > *:hover
{ background-color: var(--related-video-background-color-hover);
  border: var(--related-video-border-hover);}

#items > ytd-item-section-renderer > #contents > * .details
{padding: 4px;}

ytd-compact-video-renderer h3 > span{font-size: 16px !important;}

ytd-compact-video-renderer ytd-menu-renderer{transform: translate(calc(-1 * var(--related-video-padding)), calc(var(--related-video-padding) + 5px));}

ytd-compact-video-renderer ytd-thumbnail {width: 200px !important; height: 110px !important;}

ytd-thumbnail > #thumbnail{border-radius: calc(var(--roundedness) - var(--related-video-padding));}


/* - shorts sections  */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
{ transition: var(--trans-time-short);
  margin-top: var(--spacings-gaps);
  padding-left: 2px;
  border: 0;
  border-left: 2px solid var(--primary-color);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer:hover
{ transition: var(--trans-time-short);
  padding-left: 0px;
  border-left: 4px solid var(--primary-color);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #title-container
{ margin-top: calc(2 * var(--spacings-gaps));
  margin-bottom: calc(2 * var(--spacings-gaps));
  padding-left: 8px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents
{ transition: var(--trans-time-medium) var(--trans-time-short) var(--trans-type-slick);
  height: 0px;
  overflow: hidden;
  margin-top: 0;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer:hover
  #contents
{ transition: var(--trans-time-medium) var(--trans-time-short) var(--trans-type-slick);
  height: 300px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
{ margin: 0;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer #scroll-container{overflow-x: scroll !important;}

/* -- each short */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2
{ transition: var(--trans-time-short) var(--trans-type-smooth-end);
  width: 110px;
  height: fit-content;
  padding: 0;
  padding-top: var(--spacings-gaps);
  margin: calc(0.5 * var(--spacings-gaps));
  border-top: 0px solid var(--primary-color);
  border-radius: 0px;}
  
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2:hover
{ transition: var(--trans-time-medium) var(--trans-type-smooth-end);
  border-top: 4px solid var(--primary-color);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model{width: 100%; height: fit-content;}
  
/* --- short thumbnail */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > a > div{width: 100%; height: 200px; border-radius: var(--roundedness);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div{box-sizing: border-box; width: 100%; padding: var(--spacings-gaps); padding-right: 20px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu{width: 20px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > h3{font-size: 14px;}

/* --- short more menu */ 
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{width: 100%; border-radius: var(--button-roundedness);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{transition: var(--trans-time-short); opacity: 0;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2:hover ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{transition: var(--trans-time-medium); opacity: 1;}




/*
#player-container{box-sizing: border-box; border: 5px solid yellow;}
ytd-player{box-sizing: border-box; border: 5px solid red; border-radius: 0px;}
ytd-player > div{box-sizing: border-box; border: 5px solid blue;}
ytd-player > div > div{box-sizing: border-box; border: 5px solid green;}
*/

.ytp-play-progress{background: var(--primary-color) !important;}
#progress{background-image:none !important; background-color: var(--primary-color) !important;}

ytd-ad-slot-renderer{display: none;}
#player-ads{display: none;}

#cinematics-container{display: none;} /* removes blur-like effect around video */

*{scrollbar-color: var(--primary-color)  #fff !important;}
html{scrollbar-color: #ff0  #fff !important; max-width: 100%; scrollbar-width: none !important;}

#above-the-fold > #title{font-size: 12px;}
#above-the-fold > #bottom-row > #description{background-color: transparent;}
#above-the-fold > #bottom-row > #description > #description-inner{margin: 0 !important;}

.ytp-chrome-bottom{width: 100% !important; left: 0 !important;}
.ytp-chapter-hover-container{width: 100% !important;}



/* home */
ytd-browse{padding:40px;}

ytd-video-preview video{ min-height: 0;}
