:root{
  /* some of these variables dont do anything at all as of yet and some are only partially implemented.
     please remember this project is still early in development */
  
  /* general layout settings */
  --roundedness: 12px;
  --button-roundedness: 12px; /* percentages will provide consistent shaping for buttons but varied roundedness for different sized buttons, use '50%' for pill style buttons. a px value for rounded rectangle style buttons, recommended range: 0px - 24px */
  --borders-widths: 16px;
  --space-below-main-player: 32px;
  --spacings-gaps: 4px;

  /* general text settings */
  --text-primary: #aaaaaa;
  --text-primary-hover: #ffffff;
  --text-secondary: #666666;
  --text-secondary-hover: #888888;

  /* general color variables */
  --highcol: #ee0000;
  --highcol-dark: #301010;
  --highcol-transp: rgba(255, 0, 0, 0.5);
  --background-col: #202020;

  /* transitions durations */
  --trans-time-short: 0.1s; /* recommended range: 0.02s - 0.2s */
  --trans-time-medium: 0.3s;
  --trans-time-long: 0.5s;

  /* comment section settings */
  --comments-spacings: 12px;
  --comments-padding: 16px;
  --comments-margin: 0px;

  /* dont change these */
  --trans-type-slick: cubic-bezier(0.8,0,0.5,1);
  --trans-type-slick-reverse: cubic-bezier(.5,0,.2,1);
  --trans-type-smooth-end: cubic-bezier(.5,1,.5,1);

  
/* Main video player */
  
  /* Main Formating:
      - reduced spacing
  */
ytd-watch-flexy > #columns > #primary
{ margin: 0px;
  padding: var(--borders-widths);}
  
ytd-watch-flexy > #columns > #secondary
{ margin: 0px;
  padding: 0;
  padding-top: var(--borders-widths);
  width: 420px;}

  /* shorts sections:
      - collapsed, expands on hover
      - shorts highlight on hover
      - shorts thumbnails made smaller
      - shorts title fontsize reduced
      - more options icon no longer visible until that short is hovered
  */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
{ transition: var(--trans-time-short);
  margin-top: var(--spacings-gaps);
  padding-left: 2px;
  border: 0;
  border-left: 2px solid var(--highcol);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer:hover
{ transition: var(--trans-time-short);
  padding-left: 0px;
  border-left: 4px solid var(--highcol);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #title-container
{ margin-top: calc(2 * var(--spacings-gaps));
  margin-bottom: calc(2 * var(--spacings-gaps));
  padding-left: 8px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents
{ transition: var(--trans-time-medium) var(--trans-time-short) var(--trans-type-slick);
  height: 0px;
  overflow: hidden;
  margin-top: 0;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer:hover
  #contents
{ transition: var(--trans-time-medium) var(--trans-time-short) var(--trans-type-slick);
  height: 300px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
{ margin: 0;}

  /* each short */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2
{ transition: var(--trans-time-short) var(--trans-type-smooth-end);
  width: 110px;
  height: fit-content;
  padding: 0;
  padding-top: var(--spacings-gaps);
  margin: calc(0.5 * var(--spacings-gaps));
  border-top: 0px solid var(--highcol);
  border-radius: 0px;}
  
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2:hover
{ transition: var(--trans-time-medium) var(--trans-type-smooth-end);
  border-top: 4px solid var(--highcol);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model{width: 100%; height: fit-content;}
  
 /* shorts section: short thumbnail */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > a > div{width: 100%; height: 200px; border-radius: var(--roundedness);}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div{box-sizing: border-box; width: 100%; padding: var(--spacings-gaps); padding-right: 20px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu{width: 20px;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > h3{font-size: 14px;}

  /* shorts section: short more menu: button style */ 
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{width: 100%; border-radius: var(--button-roundedness);}

  
  /* shorts section: short more menu: show button on short hover */
ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2 > ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{transition: var(--trans-time-short); opacity: 0;}

ytd-item-section-renderer > #contents > ytd-reel-shelf-renderer
> #contents > yt-horizontal-list-renderer > #scroll-outer-container > #scroll-container > #items
> ytm-shorts-lockup-view-model-v2:hover ytm-shorts-lockup-view-model > div > .shortsLockupViewModelHostOutsideMetadataMenu > button{transition: var(--trans-time-medium); opacity: 1;}



/* Comments section */
ytd-comment-thread-renderer
{ transition: var(--trans-time-short);
  margin: 0 var(--comments-margin);
  margin-top: var(--comments-spacings);
  padding: var(--comments-padding);
  border-radius: var(--roundedness);
  background-color: var(--highcol-dark);}

ytd-comment-thread-renderer:hover
{ transition: var(--trans-time-medium) var(--trans-type-smooth-end);
  background-color: var(--highcol);}
  
ytd-comment-thread-renderer > #comment > #body > #action-menu
{ transition: var(--trans-time-short);
  opacity: 0; width: 20px;
  margin: 0 0 0 20px;}
  
ytd-comment-thread-renderer:hover #comment #body > #action-menu
{ transition: var(--trans-time-medium);
  opacity: 1;}


/*
#player-container{box-sizing: border-box; border: 5px solid yellow; border-radius: 20px;}
ytd-player{box-sizing: border-box; border: 5px solid red; border-radius: 20px;}
ytd-player > div{box-sizing: border-box; border: 5px solid blue; border-radius: 20px;}
ytd-player > div > div{box-sizing: border-box; border: 5px solid green; border-radius: 20px;}

video{width: 100%; border-radius: 40px;}*/
